canvas {
  width: 520px;
  height: 468px;
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 1);
  position: absolute;
  top: 130px;
  left: 400px;
}

body {
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
  height: 100%;
  background-color: #001634;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s, 1s;
  color: #000;
  margin: 0;
}

.sidebar {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 300px;
  position: absolute;
  right: 0px;
}

.aston {
  background-color: #3482ae;
  color: #fff;
  width: 740px;
  height: 130px;
  text-align: center;
  font-size: 1.5em;
  z-index: 20;
  margin-left: 240px;
  position: relative;
  top: 15px;
  display: none;
}

.aston h1 {
  position: relative;
  text-shadow: 0px 9px 22px rgba(0,0,0, 0.7);
  top: 15px;
}

.strap {
  height: 35px;
  background-color: rgba(0,0,0,0.45);
  position: absolute;
  width: 100%;
  z-index: 0;
  bottom: 80px;
  margin-left: 100px;
}

.pokelist .head_top {
  background-color: #3482ae;
  display: inline-block;
  margin: 0px;
}

.pokesprite {
  width: 36px;
}

.pokelist {
  position: absolute;
  top: 90px;
  left: 20px
}

.pokemon {
  background-color: rgba(255,255,255,0.08);
  border-left: 7px solid rgba(255,255,255,0.21);
  color: #fff;
  width: 335px;
  padding: 5px 0px;
  margin-bottom: 10px;
  font-size: 0.6em;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s, 1s;

}

.hpmax {
  width: 90px;
  height: 10px;
  background-color: rgba(139, 155, 194, 0.25);
  border-radius: 4px;
  float: right;
  margin-right: 10px;
  margin-top: 15px;
}

.hp {
  background-color: #34ae59;
  height: 100%;
  border-radius: 4px;
  -webkit-transition-property: width,background-color;
  -webkit-transition-duration: 1s, 1s;
}

.critical {
  background-color: #ae343a;
}

.pokename {
  position: relative;
  top: -12px;
  font-size: 2em;
}

.level {
  margin: 0px 10px;
  font-size: 1.2em;
  margin-top: -12px;
}

.levelno {
  font-size: 1.8em;
  font-weight: 800;
}

.trainer_name {
  color: #fff;
  margin-left: 50px;
  position: relative;
  bottom: 32px;
  font-size: 2em;
  font-family: "VT323";
  font-weight: normal
}

.no-pokemon .level, .no-pokemon .hpmax, .no-pokemon .pokename {
  display: none;
}

.no-pokemon {
  height: 52px;
  background-color: rgba(0,0,0,0.08)
}

.trainer_portrait {
  z-index: 10;
}

.logo {
  width: 100%;
  position: absolute;
  top: 0;
}

.head {
  position: relative;
  top: 130px;
}

.head h2, .head h3 {
  margin: 0 !important;
}

.head_top {
  background-color: #242424;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700 !important;
  padding: 10px 10px;

}

#map_name {
  background-color: #ae3448;
  color: #fff;
  font-size: 1.2em;
  padding: 10px 10px;
  font-weight: normal !important;
}

.container {
  width: 1280px;
  height: 720px;
  background-color: #0a266a;
  position: absolute;
  z-index: -100;
}

.battle-mode {
  background-color: DarkRed;
  color: #fff;
}

#battle {
  display: none;
}

.map {
  position: relative;
  top: 150px;
  left: 50px;
}

.ticker {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.ticker img {
  position: relative;
  top: 380px;
}

table {
  background-color: #444;
}

td {
  width: 5px;
  height: 5px;
  background-color: #ccc;
}

h1 {
  position: absolute;
  top: 0px;
}

.outBounds {
  background-color: #aaa;
}

.trainer {
  background-color: red !important;
}

.goal {
  background-color: yellow !important;
}

.textOn {
  color: red;
  display: none;
}

#map {
}

.visited {
  background-color: #418fb0;
}

.intermediate {
  background-color: #33CB57 !important;
}

.noreach {
  background-color: #000;
}
